<div th:replace="compartilhado/top"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Olá - <span th:text="${nome}"></span> seja muito bem vindo a sua área
            Making-of</h1>
    </div>
                <div>
                     <span th:text="${nomeArtistico}">Nome Artistico</span>
                     <span th:text="${idade}">Idade</span>                     
                     <span th:text="${email}">Email</span>
                     <span th:text="${bio}">Bio</span>
                </div>

                <div>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Oportunidades</h5>
                          <p class="card-text">Aqui estarão algumas oportunidades para o mercado</p>
                          <a href="#" class="btn btn-primary">Conhecer</a>
                        </div>
                      </div>

                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Jobs contratados</h5>
                          <p class="card-text">Aqui aparecerá os jobs que você já fez</p>
                          <a href="#" class="btn btn-primary">Detalhes</a>
                        </div>
                      </div>
                    <p>Visualização</p>      
                    <p>Valores recebidos</p>                 
                    <p class="btn btn-primary">Depoimentos</p>                 
                    <p>Fodabeeks</p>   

                </div>
</div>
<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>