<div th:replace="compartilhado/top"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <main class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <label class="main-label m-3 text-center text-gray-800">Olá <span th:text="${nomeArtistico}"></span>! <div>Aqui
            estão suas novidades Making-of</div></label>
      </div>
      <!-- Page Heading -->


      <div class="row">
        <div class="card shadow m-4 w-50">
          <!-- Card Header - Accordion -->
          <a href="#depoimentos" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">DEPOIMENTOS<span
                class="mx-2 badge badge-danger badge-counter">0</span></h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse" id="depoimentos">
            <div class="card-body">
              Em breve os depoimentos de colegas sobre você aparecerão aqui e você poderá torná-las públicas se quiser!
            </div>
          </div>
        </div>

        <!-- Dropdown Card Example -->
        <div class="card shadow m-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Meu perfil</h6>
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Menu suspenso:</div>
                <a class="dropdown-item" th:href="@{'/id/'+${id}}">Meu perfil</a>
                <a class="dropdown-item" href="/perfis">Ver outros perfis</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Outra opção</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body text-dark">Gerencie seu Perfil Making-of por aqui
          </div>
          <div class="p-3 mx-3">
            <p class="mb-0">Link do seu perfil:</p>
            <div class="p-1 text-center border border-dark">www.making-of.com/id/<span th:text="${id}"></span></div>
          </div>
          <div class="p-3 d-flex justify-content-center">
            <a href="#" th:href="@{'/perfil/' + ${id}}" class="btn btn-warning px-3">Editar perfil</a>
            <!--a th:href="@{'/perfil/' + ${perfil.id}} + '/atualizar'" class="btn btn-warning">Alterar</a-->
          </div>
        </div>

        <div class="card shadow m-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Oportunidades<span
                class="mx-2 invisible badge badge-danger badge-counter">0</span></h6>
          </div>
          <div class="card-body">
            Conheças as oportunidades disponíveis para seu perfil agora!
            <a href="#" class="btn btn-primary m-3 disabled">Encontrar</a>
          </div>
          <div class="m-3"><img class="p-3 border border-dark" src="https://source.unsplash.com/550x200/?film" alt=""></div>
        </div>

        <div class="card shadow m-4 w-25">
          <!-- Card Header - Accordion -->
          <a href="#feedbacks" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="collapseCardExample">
            <div>
              <h6 class="m-0 font-weight-bold text-primary">FEEDBACKS<span
                  class="mx-2 badge badge-danger badge-counter">0</span></h6>
            </div>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse" id="feedbacks">
            <div class="card-body">
              Aqui aparecerão os feedbacks de seus colegas sobre você e seu trabalho, essa parte é fundamental para
              aprimorarmos nosso trabalho. Os feedbacks poderão ser anônimos ou não, você também terá a opção de
              desativar feedbacks.
            </div>
          </div>
        </div>

      </div>



      <hr>
      <h3>Resultados</h3>
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Conclusão do Curso
                  </div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">00%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 00%" aria-valuenow="00"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    JOBS (REALIZADOS)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$00,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    VALORES (RECEBIDOS)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$00,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                    Valores (A receber)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$000,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    SOLICITAÇÕES PENDENTES</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    Contribuições com a comunidade</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    SOLICITAÇÕES PENDENTES</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 invisible">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    SOLICITAÇÕES PENDENTES</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <hr>
      <div>
        <p>Configurações de conta</p>
        <a href="#"
          th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/perfil/{id}(id=${id})} + '/excluir\' } '"
          class="btn btn-danger">Excluir</a>
        <!--a-- href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \'' + @{/perfil/{id}(id=${perfil.id})} + '/excluir\' } '" class="btn btn-danger">Excluir</!--a-->
      </div>
    </div>
    <!-- /.container-fluid -->

</div>



</main>
<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>